<!-- nav -->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/test">Test</a>
    <a *ngIf="false" class="nav-item nav-link" routerLink="/pregsres/nuevo" >Nueva Pregunta</a> <!-- #FIXME -->
    <!--    <a class="nav-item nav-link" (click)="logout()">Logout</a>-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kits</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/kits/lista', '4']">Nutrición</a>
        <a class="dropdown-item" [routerLink]="['/kits/lista', '2']">Belleza</a>
        <a class="dropdown-item" [routerLink]="['/kits/lista', '3']">Cuidado Personal</a>
        <a class="dropdown-item" [routerLink]="['/kits/lista', '1']">Hogar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/kits/lista']">Todos</a>
      </div>
    </li>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
